SECRET_KEY='b(x++my_u+ob&j2bxr@wo97t9dpb+vk(ad=&eobik8mqf+k++c'
ALLOWED_HOSTS=['*']
DEBUG=True
POSTGRES_DB=kopernik
POSTGRES_USER=kopernik
POSTGRES_PASSWORD=kopernik
POSTGRES_PORT=5432
POSTGRES_HOST=postgres_db